
  <% if @roster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@roster.errors.count, "error") %> prohibited this roster from being saved:</h2>

      <ul>
      <% @roster.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-md-6">
    <%= form_for(@roster, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <% if current_personnel && current_personnel.admin? %>
      
        <% if @roster.name %>
          <div class="form-group">
            <div class="form-group">
              <%= f.label :name, class: "col-sm-4 control-label" %>
              <div class="col-sm-6">
                <%= f.text_field :name, value: @roster.name.capitalize, class: "form-control", readonly: true %>
              </div>
            </div>  
          </div>
        <% end %>
        <!--<div class="form-group">
          <%#= f.label :name, class: "col-sm-4 control-label" %>
          <div class="col-sm-4">
            <%#= f.text_field :name, autofocus: true, class: "form-control" %>
          </div>
        </div>-->
        <div class="form-group">
          <%= f.label :start_time, class: "col-sm-4 control-label" %>
          <div class="col-sm-8" style="position: relative; z-index: 100000;">
            <%= f.text_field :start_time, "data-provide" => 'datepicker', class: "form-control", id: "start_time" %>
          </div>
        </div>
        <!--<div class="form-group">
          <%#= f.label :end_time, class: "col-sm-4 control-label" %>
          <div class="col-sm-8" style="position: relative; z-index: 100000;">
            <%#= f.date_select :end_time, class: "form-control" %>
            <%#= f.text_field :end_time, "data-provide" => 'datepicker', class: "form-control", id: "end_time" %>
          </div>
        </div>-->
        
        <%= fields_for(@roster, @roster.roster_apparatus.build) do |a| %>
          <div class="form-group">
            <%= a.label :apparatus, class: "col-sm-4 control-label" %>
            <div class="collection-check-box col-sm-8">
              <%= a.collection_check_boxes :apparatu_ids, Apparatu.all, :id, :designator do |b| %>
                
                  <%= b.check_box %>
                  <%= b.label %>
                
              <% end %> 
            </div>  
          </div>
        <% end %>
        
      <% end %>  
      <div class="col-sm-4 col-sm-offset-4">
        <%= f.submit 'Submit Roster', class: "btn btn-xs btn-primary" %> | 
        <%= link_to 'Back', rosters_path %>
      </div>
    <% end %>
  </div>
</div>  
