<h2>
  <%= @roster.name.titleize %> 
  <small style="color: #b5121b;"><%= @roster.start_time.strftime("%m/%d/%Y") %> - <%= @roster.end_time.strftime("%m/%d/%Y") %></small>
</h2>

<% if @roster.apparatus.size > 0 %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Apparatus</th>
        <% @positions.sort.each do |pos| %>
          <th><%= pos.name.titleize %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @roster.apparatus.each do |app| %>
      <tr>
        <td><%= app.designator.titleize %></td>
              
        <% @positions.sort.each do |poss| %>
          <td>
            
              <% if assignment = @roster.assignments.find{|a| a.position_id == poss.id && a.apparatu_id == app.id} %>
                <%= assignment.personnel.full_name.titleize %>
                <% if current_personnel.admin? %>
                  <%= link_to 'Remove', assignment_path(assignment), method: :delete, 
                                        class: "btn btn-xs btn-danger",
                                        data: { confirm: "Remove #{assignment.personnel.full_name}?" } %>
                <% end %>
              <% elsif unfilled_pos = app.positions.find{|p| p.id == poss.id}%>
                <% if current_personnel && current_personnel.can_signup?(@roster.id) && current_personnel.is_qualified?(unfilled_pos) %>
                  <div class="signup-action" data-apparatu-id="<%= app.id %>" data-position-id="<%= unfilled_pos.id %>">
                    <%#= link_to 'Signup', assignments_path(roster_id: @roster.id, position_id: unfilled_pos.id, apparatu_id: app.id), class: "btn btn-xs btn-primary" %>
                  
                    <%= form_for Assignment.new, remote: true do |f| %>
                      <%= f.hidden_field :roster_id, value: @roster.id %>
                      <%= f.hidden_field :position_id, value: unfilled_pos.id %>
                      <%= f.hidden_field :apparatu_id, value: app.id %>
                      <%= f.submit 'Signup', class: "btn btn-xs btn-primary" %>
                    <% end %>
                  </div>
                <% elsif current_personnel && current_personnel.can_signup?(@roster.id) %>
                  Not Qualified
                <% else %>
                  Need Personnel
                <% end %>
              <% else %>
                <i class="fa fa-user-times" aria-hidden="true"></i>
              <% end %> 
            
          </td>
        <% end %>
              
      </tr> 
    <% end %> 
    </tbody>
  </table> 
<% end %> 

<p class="notes">
  <i class="fa fa-user-times" aria-hidden="true"></i> = Position not required
</p>

<% if current_personnel && current_personnel.admin? %>
  <%= link_to 'Edit', edit_roster_path(@roster), class: "btn btn-xs btn-primary" %> | 
  <%= link_to 'Back', rosters_path, class: "no-bg" %>
<% elsif current_personnel %>
  <%= link_to 'Back', rosters_path, class: "no-bg" %>
<% else %>
  <%= link_to 'Back', root_path, class: "no-bg" %>
<% end %>  

