<p id="notice"><%= notice %></p>

<h2>
  <%= @roster.name.titleize %> 
  <small style="color: #b5121b;"><%= @roster.start_time.strftime("%m/%d/%Y") %> - <%= @roster.end_time.strftime("%m/%d/%Y") %></small>
</h2>

<!--<p>
  <strong>Start Date:</strong>
  <%#= @roster.start_time.strftime("%m/%d/%Y") %>
</p>

<p>
  <strong>End Date:</strong>
  <%#= @roster.end_time.strftime("%m/%d/%Y") %>
</p>-->

  <!--<%# if @roster.apparatus.size > 0 %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Apparatus</th>
        <th>Personnel</th>
      </tr>
    </thead>
    <tbody>
      <%# @roster.apparatus.each do |app| %>
        <tr>
          <td><%#= app.designator.titleize %></td>
          <td>
            <%# app.positions.each do |pos| %>
              <%#= pos.name.titleize %>:
            <%# end %>  
          </td>
        </tr>  
      <%# end %>
    </tbody>
  </table>  
  <%# end %>-->

<% if @roster.apparatus.size > 0 %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Apparatus</th>
        <% @positions.each do |pos| %>
          <th><%= pos.name.titleize %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @roster.apparatus.each do |app| %>
      <tr>
        <td><%= app.designator.titleize %></td>
        
        <% @positions.each do |pos| %>
          <% if app.positions.include? pos %>
            <td>
              <% app.positions.each do |poss| %>
                  <% if poss.name == pos.name %>
                    <%= poss.name.titleize %>
                  <% end %>   
              <% end %>
            </td>
          <% else %>
            <td><i class="fa fa-user-times" aria-hidden="true"></i></td>
          <% end %>  
        <% end %>  
      </tr> 
    <% end %> 
    </tbody>
  </table> 
<% end %> 

<p class="notes">
  <i class="fa fa-user-times" aria-hidden="true"></i> = Position not required
</p>

<% if current_personnel && current_personnel.admin? %>
  <%= link_to 'Edit', edit_roster_path(@roster), class: "btn btn-xs btn-primary" %> | 
  <%= link_to 'Back', rosters_path, class: "no-bg" %>
<% elsif current_personnel %>
  <%= link_to 'Back', rosters_path, class: "no-bg" %>
<% else %>
  <%= link_to 'Back', root_path, class: "no-bg" %>
<% end %>  

