<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @roster.name.titleize %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @roster.start_time.strftime("%m/%d/%Y") %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @roster.end_time.strftime("%m/%d/%Y") %>
</p>

  <% if @roster.apparatus.size > 0 %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Apparatus</th>
        <th>Personnel</th>
      </tr>
    </thead>
    <tbody>
      <% @roster.apparatus.each do |app| %>
        <tr>
          <td><%= app.designator.titleize %></td>
          <td>
            <% app.positions.each do |pos| %>
              <%= pos.name.titleize %>:
            <% end %>  
          </td>
        </tr>  
      <% end %>
    </tbody>
  </table>  
  <% end %>


<% if current_personnel && current_personnel.admin? %>
  <%= link_to 'Edit', edit_roster_path(@roster), class: "btn btn-xs btn-primary" %> | 
  <%= link_to 'Back', rosters_path, class: "no-bg" %>
<% elsif current_personnel %>
  <%= link_to 'Back', rosters_path, class: "no-bg" %>
<% else %>
  <%= link_to 'Back', root_path, class: "no-bg" %>
<% end %>  
