<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @roster.name.titleize %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @roster.start_time.strftime("%m/%d/%Y") %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @roster.end_time.strftime("%m/%d/%Y") %>
</p>
<p>
  <strong>Apparatus</strong>
    <% if @roster.apparatus.size > 0 %>
    <ul>
      <% @roster.apparatus.each do |app| %>
        <li><%= app.designator.titleize %></li>
      <% end %>
    </ul>  
    <% end %>
</p>

<% if current_personnel && current_personnel.admin? %>
  <%= link_to 'Edit', edit_roster_path(@roster), class: "btn btn-xs btn-primary" %> | 
  <%= link_to 'Back', rosters_path, class: "no-bg" %>
<% elsif current_personnel %>
  <%= link_to 'Back', rosters_path, class: "no-bg" %>
<% else %>
  <%= link_to 'Back', root_path, class: "no-bg" %>
<% end %>  
