<h1>Create a new qual</h1>

<div class="row">
<% if @qualification.errors.any? %>
    <div class="col-md-4 alert alert-danger">
        <ul>
            <% @qualification.errors.full_messages.each do | msg | %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>
</div>
<div class="row">
<div class="col-md-6">
    <%= form_for(@qualification, :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <div class="form-group">
            <%= f.label :name, class: "col-sm-2 control-label" %>
            <div class="col-sm-4">
                <%= f.text_field :name, class: "form-control" %>
            </div>    
        </div>
        <div class="form-group">
            <%= f.label :acronym, class: "col-sm-2 control-label" %>
            <div class="col-sm-4">
                <%= f.text_field :acronym, class: "form-control" %>
            </div>    
        </div>
        <div class="col-sm-4 col-md-offset-2">
            <%= f.submit 'Create', class: "btn btn-xs btn-primary" %> 
            <%= link_to 'Cancel', qualifications_path, 
                                class: "btn btn-xs btn-danger custom-btn",
                                style: "margin-left:15px" %>
        </div>    
    <% end %> 
</div> 
</div>