<div class="row">  
  <% if @apparatu.errors.any? %>
    <div class="col-md-4 alert alert-danger">
      <ul>
      <% @apparatu.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>  

<div class="row">
  <div class="col-md-6">
    <%= form_for(@apparatu, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group">
        <%= f.label :designator, class: "col-sm-4 control-label" %>
        <div class="col-sm-4">
          <%= f.text_field :designator, :placeholder => "B13, E113, T13...", autofocus: "true", class: "form-control" %>
        </div>
      </div>
      
      <div class="form-group">
        <%=f.label :apparatus_class, class: "col-sm-4 control-label" %>
        <div class="col-sm-4">
          <%= f.select(:apparatus_class, options_for_select([['Engine'], ['Tender']], f.object.apparatus_class), {}, {class: "form-control"}) %>
        </div>  
      </div>
      <div class="form-group">
        <%=f.label :apparatus_type, class: "col-sm-4 control-label" %>
        <div class="col-sm-4">
          <%= f.select(:apparatus_type, options_for_select([[1], [2], [3], [4], [5], [6]], f.object.apparatus_type), {}, {class: "form-control"}) %>
        </div>  
      </div>
      
      <%= fields_for(@apparatu, @apparatu.apparatu_positions.build) do |a| %>
        <div class="form-group">
          <%= a.label :positions, "Riding Positions", class: "col-sm-4 control-label" %>
          <div class="collection-check-box col-sm-8">
            <%= a.collection_check_boxes :position_ids, Position.all, :id, :name do |b| %>
              
                <%= b.check_box %>
                <%= b.label %>
              
            <% end %> 
          </div>  
        </div>
      <% end %>
      
      <div class="col-sm-4 col-sm-offset-4">
        <%= f.submit btn_name, class: "btn btn-xs btn-primary" %> | 
        <%= link_to 'Back', apparatus_path %>
      </div>
    <% end %>
  </div>  
</div>
