<div class="jumbotron">
  <h1>Welcome to AFR's Wildland Roster App!</h1>
  <p>Pride, Integrity, Service</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div>
  <h3>This Week's Roster</h3>
  <table class="table table-striped roster-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Actions</th>
      </tr>
    </thead>
  
    <tbody>
      <% @rosters.each do |roster| %>
        <% if roster.start_time >= Date.today.beginning_of_week && roster.start_time <= Date.today.end_of_week %>
          <tr>
            <td><%= roster.name.titleize %></td>
            <td><%= roster.start_time.strftime("%m/%d/%Y") %></td>
            <td><%= roster.end_time.strftime("%m/%d/%Y") %></td>
            <td>
              <%= link_to 'View', roster, class: "btn btn-xs btn-primary" %>
              <% if current_personnel %>
                <%= link_to 'Edit', edit_roster_path(roster), 
                                    class: "btn btn-xs btn-success" %>
              <% end %>                    
              <% if current_personnel && current_personnel.admin? %>                    
                <%= link_to 'Destroy', roster, method: :delete, 
                                    class: "btn btn-xs btn-danger", 
                                    data: { confirm: 'Are you sure?' } %>
              <% end %>                      
            </td>
          </tr>
        <% end %>  
      <% end %>
    </tbody>
  </table>
</div>