
  
<div class="col-md-6">
  <h3 class="text-center">Edit Personal Info</h3>
  <%= form_for(@personnel, :html => {class: "form-horizontal", role: "form"}) do |f| %>
    <div class="form-group">
      <%= f.label :first_name, class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
          <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
      </div>    
    </div>
    <div class="form-group">
      <%= f.label :last_name, class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
          <%= f.text_field :last_name, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :shift, class: "col-sm-4 control-label" %>
      <div class="col-sm-2">
          <%= f.select(:shift, options_for_select([['A'], ['B'], ['C']], f.object.shift), {}, {class: "form-control"}) %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :phone, class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
          <%= f.text_field :phone, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :email, class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
          <%= f.email_field :email, :autocomplete => "off", class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password, class: "col-sm-4 control-label" %> 
      <div class="col-sm-8">
          <%= f.password_field :password, :autocomplete => "off",
                              placeholder: "Leave blank if not changing password", 
                              class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
          <%= f.password_field :password_confirmation,
                           placeholder: "Leave blank if not changing password",
                           class: "form-control"  %>
      </div>
    </div>
    <!--<div class="form-group">
      <%#= f.label :current_password, class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
          <%#= f.password_field :current_password, class: "form-control" %>
      </div>
    </div>-->
    <% if current_personnel.admin? %>
        <div class="form-group">
            <%= f.label :admin, class: "col-sm-4 control-label" %>
            <div class="col-sm-8">
                <%= f.check_box :admin, class: "form-control" %>
            </div>
        </div>
        
        <div class="form-group">
            <%= f.label :single_resource, class: "col-sm-4 control-label" %>
            <div class="col-sm-8">
              <%= f.check_box :single_resource, class: "form-control" %>
            </div>
        </div>
        
        <%= fields_for(@personnel, @personnel.personnel_qualifications.build) do |f| %>
          <div class="form-group">
            <%= f.label :qualifications, class: "col-sm-4 control-label" %>
            <div class="collection-check-box col-sm-8">
              <%= f.collection_check_boxes :qualification_ids, Qualification.all, 
                                            :id, :name do |b| %>
                <div class="check-box form-control no-border">                            
                  <%= b.check_box %>
                  <%= b.label %>
                </div>
              <% end %>  
            </div>
          </div>
        <% end %>
        
    <% end %>
    <div class="col-sm-8 col-sm-offset-4">
        <%= f.submit "Upate Personnel", class: "btn btn-xs btn-primary" %> | 
        <%= link_to "Back", personnels_path %>
    </div>
  <% end %>
</div> 

