
  
<div class="col-md-6">
  <h3 class="text-center">Edit Personal Info</h3>
  <%= form_for(@personnel, :html => {class: "form-horizontal", role: "form"}) do |f| %>
    <div class="form-group">
      <%= f.label :first_name, class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
          <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
      </div>    
    </div>
    <div class="form-group">
      <%= f.label :last_name, class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
          <%= f.text_field :last_name, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :phone, class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
          <%= f.text_field :phone, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :email, class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
          <%= f.email_field :email, :autocomplete => "off", class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password, class: "col-sm-4 control-label" %> 
      <div class="col-sm-8">
          <%= f.password_field :password, :autocomplete => "off",
                              placeholder: "Leave blank if not changing password", 
                              class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
          <%= f.password_field :password_confirmation,
                           placeholder: "Leave blank if not changing password",
                           class: "form-control"  %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :current_password, class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
          <%= f.password_field :current_password, class: "form-control" %>
      </div>
    </div>
    <% if current_personnel.admin? %>
        <div class="form-group">
            <%= f.label :admin, class: "col-sm-4 control-label" %>
            <div class="col-sm-8">
                <%= f.check_box :admin, class: "form-control" %>
            </div>
        </div>
    <% end %>
    <div class="col-sm-4 col-sm-offset-4">
        <%= f.submit "Upate Personnel", class: "btn btn-primary" %>
    </div>
  <% end %>
</div> 

<% if current_personnel.admin? %>
  <div class="col-md-6">
    <h3 class="text-center">IQS Quals</h3>
    
    <% if @quals.size > 0 %>
      <div class="col-md-6 col-md-offset-3">
        <table class="table table-striped">
          <thead>
              <tr>
                  <th>Qual</th>
                  <th class="text-right">Actions</th>
              </tr>
          </thead>
          <tbody>
            <% @quals.each do |qual| %>
              <tr>
                <td><%= qual.acronym.upcase %></td>
                <td class="text-right">
                  <% if @personnel.can_add_qual?(qual.name) %>
                    <%= link_to 'Add', personnel_qualifications_path(personnel_id: @personnel.id, qualification_id: qual.id), 
                                        class: "btn btn-xs btn-success", method: :post%> 
                  <% end %>
                </td>
              </tr>
            <% end %>  
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
<% end %>  