<% if @personnels.size > 0 %>
    <div class="personnel-listing">
        <h1>Roster</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Email</th> 
                    <th>Quals</th>
                    <th class="text-center">Single Resource</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% @personnels.each do |personnel| %>
                    <tr>
                        <td><%= personnel.full_name.titleize %></td>
                        <td><%= number_to_phone(personnel.phone, area_code: true) %></td>
                        <td><%= personnel.email %></td>
                        <td>
                        <% if personnel.qualifications.size > 0 %>
                            <ul>
                                <% personnel.qualifications.each do |qual| %>
                                    <li>
                                        <%= qual.acronym.upcase %>
                                    </li>
                                <% end %>
                            </ul>
                        <% end %>
                        </td>
                        <td class="text-center">
                            <% if personnel.single_resource == true %>
                                <i class="fa fa-check" aria-hidden="true"></i>
                            <% end %>
                        </td>
                        <td>
                            <%= link_to 'Show', personnel_path(personnel.id), class: "no-bg" %>
                            <% if current_personnel == personnel || current_personnel.admin? %>
                                <%= link_to 'Edit', edit_personnel_path(personnel), 
                                                    :class => "btn btn-xs btn-primary" %>
                            <% end %>
                            <% if current_personnel.admin? %>
                                <%= link_to 'Delete', personnel_path(personnel), 
                                            :method => :delete, 
                                            :data => { :confirm => "Are you sure you want to delete #{personnel.full_name}?" }, 
                                            :class => "btn btn-xs btn-danger" %>
                            <% end %>                        
                        </td>
                            
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>    
<% end %>