<h2><%= @personnel.full_name.titleize %></h2>
<p>
    <%= link_to "Back", personnels_path, class: "back-btn" %>
    <% if current_personnel == @personnel || current_personnel.admin? %>
        | <%= link_to "Edit", edit_personnel_path(@personnel.id), class: "back-btn" %>
    <% end %>    
</p>

<div class="personnel-show">
    <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-4">
            <p><strong>Phone </strong></p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 no-padding-left">
            <p><%= number_to_phone(@personnel.phone, area_code: true) %></p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-4">
            <p><strong>Email</strong></p>    
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 no-padding-left">
            <p><%= @personnel.email %></p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-4">
            <p><strong>Shift</strong></p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 shift-<%= @personnel.shift %> no-padding-left">
            <p><%= @personnel.shift %></p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-4">
            <p><strong>Qualifications</strong></p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 no-padding-left">
            <% if @personnel.qualifications.size > 0 %>
                <p>
                    <% @personnel.qualifications.order(:acronym).each do |qual| %>
                        <%= qual.name.titleize %><br/>
                    <% end %> 
                </p>
                
            <% end %>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-4">
            <p><strong>Signed Up On</strong></p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 no-padding-left">
            <p><strong><%= pluralize( @personnel.assignments.count, 'Roster' ) %></strong></p>
            <% if @personnel.assignments.size > 0 %>
                <p>
                    <% @personnel.assignments.each do |roster| %>
                        <%= link_to roster.roster.name.capitalize, 
                                    roster_path(roster.roster.id), 
                                    class: "back-btn" %>: 
                        <%= roster.position.name.capitalize %><br/>
                    <% end %>
                </p>
            <% end %>
        </div>
    </div>
</div>